<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
	<interceptors>
		<class>org.jboss.as.quickstarts.cdi.interceptor.AuditInterceptor</class>
		<class>org.jboss.as.quickstarts.cdi.interceptor.LoggingInterceptor</class>
	</interceptors>
	<alternatives>
		<stereotype>org.jboss.as.quickstarts.cdi.stereotype.ServiceStereotype</stereotype>
	</alternatives>
</beans>
